* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #13171c;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 60px;
    width: 120px;

}

.border {
    border: 1.5px solid transparent;
    border-radius: 4px;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 4px;
}

.logo {
    background-image: url(./Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* box 2 */
.address-1st {
    color: #CCCCCC;
    font-size: .85rem;
    margin-left: 23px;
}

.address-2nd {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 40px;
    width: 40%;
    border-radius: 4px;
    margin-left: 10PX;

}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-box {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

/* box 4 */
span {
    font-size: 0.8rem;
}

.nav-second {
    font-size: 1rem;
    font-weight: 600;
}

/* box 6 */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 1rem;
    font-weight: 600;
}

/* panel  */
.panel {
    height: 40px;
    background-color: #1f2936;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15 px;

}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 600;
}

/* hero section  */
.hero-section {
    background-image: url(./Images/hero_image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: #f3f3f3;
    color: #13171c;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 92%;
    margin-bottom: 25px;

}

.hero-message a {
    color: #007185;
}

/* shop section  */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #CCCCCC;
}
.box{
    height: 400px;
    width: 23%;
    background-color: #f3f3f3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 10px 15px;
    border-radius: 4px;
}
.box p{
    color: #007185;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 30px;
}


/* footer  */
footer{
    margin-top: 0px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel1 a{
    color: rgb(227, 228, 228);
    text-decoration: none;
    font-weight: 600;
}
.foot-panel1 a:hover{
    color: #00d5ff;
}
.foot-panel2{
    background-color: #233954;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    padding: 15px;
}
ul{
    margin-top: 20px;
}
h4{
    margin-bottom: 10px;
}
ul a{
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
    color: #dddddd;
    margin-bottom: 8px;
}


/* foot panel 3  */
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(./Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}